body {
  
}
.title {
  
  font-weight: 900 !important;
  text-align: center;
  margin-top: 20px;
}

.shrinkaway {
  animation: becomewhitecircle 0.5s forwards;
}

.growappear {
  animation: growappear 0.5s forwards;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes shrinkaway {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes growappear {
  0% {
    width: 0;
    opacity: 0;
  }
  80% {
    width: 80%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.dc {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.becomewhitesquircle {
  animation: becomewhitesquircle 0.5s forwards;
  width: 100%;
  height: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textpulse {
  0% {
    color: #808080;
  }
  50% {
    color: #80808080;
  }
  100% {
    color: #808080;
  }
}

a {
  color: #76561a;
  text-decoration: none;
}

/* Synchronized animation class */
.sync-pulse {
  animation: textpulse 1s infinite;
}

@keyframes becomewhitecircle {
  0% {
  }
  100% {
    width: 204px;
    height: 204px;
    aspect-ratio: 1/1 !important;
    border-radius: 50%;
    opacity: 1;
    user-select: none;
    pointer-events: none;
    color: white;
   
  }
}

.boo {
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0px 20px 10px -5px rgba(255,255,255,1) inset !important;
                      background: #fbf8f5ff !important;
}

@keyframes becomewhitesquircle {
  0% {
  }
  100% {
    width: 70vw;
    height: 40vh;
    border-radius: 20px;
    opacity: 1;
    background-color: white;
  }
}
